<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Artwork — X Position</string>
			<key>footerText</key>
			<string>Set to -1 to use default values.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>-1</real>
			<key>defaults</key>
			<string>com.cureux.cc26</string>
			<key>key</key>
			<string>mediaArtworkX</string>
			<key>min</key>
			<real>-1</real>
			<key>max</key>
			<real>200</real>
			<key>showValue</key>
			<true/>
			<key>PostNotification</key>
			<string>com.cureux.cc26/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Artwork — Y Position</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>-1</real>
			<key>defaults</key>
			<string>com.cureux.cc26</string>
			<key>key</key>
			<string>mediaArtworkY</string>
			<key>min</key>
			<real>-1</real>
			<key>max</key>
			<real>200</real>
			<key>showValue</key>
			<true/>
			<key>PostNotification</key>
			<string>com.cureux.cc26/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Artwork — Size</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>-1</real>
			<key>defaults</key>
			<string>com.cureux.cc26</string>
			<key>key</key>
			<string>mediaArtworkSize</string>
			<key>min</key>
			<real>-1</real>
			<key>max</key>
			<real>100</real>
			<key>showValue</key>
			<true/>
			<key>PostNotification</key>
			<string>com.cureux.cc26/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Routing Button — X Position</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>-1</real>
			<key>defaults</key>
			<string>com.cureux.cc26</string>
			<key>key</key>
			<string>mediaRoutingBtnX</string>
			<key>min</key>
			<real>-1</real>
			<key>max</key>
			<real>200</real>
			<key>showValue</key>
			<true/>
			<key>PostNotification</key>
			<string>com.cureux.cc26/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Routing Button — Y Position</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>-1</real>
			<key>defaults</key>
			<string>com.cureux.cc26</string>
			<key>key</key>
			<string>mediaRoutingBtnY</string>
			<key>min</key>
			<real>-1</real>
			<key>max</key>
			<real>200</real>
			<key>showValue</key>
			<true/>
			<key>PostNotification</key>
			<string>com.cureux.cc26/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Routing Button — Size</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>-1</real>
			<key>defaults</key>
			<string>com.cureux.cc26</string>
			<key>key</key>
			<string>mediaRoutingBtnSize</string>
			<key>min</key>
			<real>-1</real>
			<key>max</key>
			<real>60</real>
			<key>showValue</key>
			<true/>
			<key>PostNotification</key>
			<string>com.cureux.cc26/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Label — X Position</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>-1</real>
			<key>defaults</key>
			<string>com.cureux.cc26</string>
			<key>key</key>
			<string>mediaLabelX</string>
			<key>min</key>
			<real>-1</real>
			<key>max</key>
			<real>200</real>
			<key>showValue</key>
			<true/>
			<key>PostNotification</key>
			<string>com.cureux.cc26/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Label — Y Position</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>-1</real>
			<key>defaults</key>
			<string>com.cureux.cc26</string>
			<key>key</key>
			<string>mediaLabelY</string>
			<key>min</key>
			<real>-1</real>
			<key>max</key>
			<real>200</real>
			<key>showValue</key>
			<true/>
			<key>PostNotification</key>
			<string>com.cureux.cc26/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Label — Width</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>-1</real>
			<key>defaults</key>
			<string>com.cureux.cc26</string>
			<key>key</key>
			<string>mediaLabelW</string>
			<key>min</key>
			<real>-1</real>
			<key>max</key>
			<real>300</real>
			<key>showValue</key>
			<true/>
			<key>PostNotification</key>
			<string>com.cureux.cc26/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Label — Height</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>-1</real>
			<key>defaults</key>
			<string>com.cureux.cc26</string>
			<key>key</key>
			<string>mediaLabelH</string>
			<key>min</key>
			<real>-1</real>
			<key>max</key>
			<real>100</real>
			<key>showValue</key>
			<true/>
			<key>PostNotification</key>
			<string>com.cureux.cc26/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Label — Line Spacing</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>1</real>
			<key>defaults</key>
			<string>com.cureux.cc26</string>
			<key>key</key>
			<string>mediaLabelLineSpacing</string>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>20</real>
			<key>showValue</key>
			<true/>
			<key>PostNotification</key>
			<string>com.cureux.cc26/preferences.changed</string>
		</dict>
	</array>
	<key>title</key>
	<string>Media Player</string>
</dict>
</plist>
