<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Border Width</string>
		</dict>
        <dict>
            <key>PostNotification</key>
            <string>com.cureux.cc26/preferences.changed</string>
            <key>cell</key>
            <string>PSSliderCell</string>
            <key>default</key>
            <integer>2</integer>
            <key>defaults</key>
            <string>com.cureux.cc26</string>
            <key>isSegmented</key>
            <false/>
            <key>key</key>
            <string>borderWidth</string>
            <key>id</key>
            <string>borderWidth</string>
            <key>max</key>
            <integer>10</integer>
            <key>min</key>
            <integer>0</integer>
            <key>showValue</key>
            <true/>
        </dict>
        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Border Color</string>
		</dict>
        <dict>
            <key>PostNotification</key>
            <string>com.cureux.cc26/preferences.changed</string>
            <key>cellClass</key>
            <string>CC26ColorCell</string>
            <key>defaults</key>
            <string>com.cureux.cc26</string>
            <key>height</key>
            <string>60</string>
            <key>id</key>
            <string>borderColor</string>
            <key>key</key>
            <string>borderColor</string>
            <key>label</key>
            <string>Border Color</string>
        </dict>
        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Gradient Colors</string>
		</dict>
        <dict>
            <key>PostNotification</key>
            <string>com.cureux.cc26/preferences.changed</string>
            <key>cellClass</key>
            <string>CC26ColorCell</string>
            <key>defaults</key>
            <string>com.cureux.cc26</string>
            <key>height</key>
            <string>60</string>
            <key>id</key>
            <string>primaryGradient</string>
            <key>key</key>
            <string>primaryGradient</string>
            <key>label</key>
            <string>First Gradient Color</string>
        </dict>
        <dict>
            <key>PostNotification</key>
            <string>com.cureux.cc26/preferences.changed</string>
            <key>cellClass</key>
            <string>CC26ColorCell</string>
            <key>defaults</key>
            <string>com.cureux.cc26</string>
            <key>height</key>
            <string>60</string>
            <key>id</key>
            <string>secondaryGradient</string>
            <key>key</key>
            <string>secondaryGradient</string>
            <key>label</key>
            <string>Second Gradient Color</string>
        </dict>
        <dict>
            <key>PostNotification</key>
            <string>com.cureux.cc26/preferences.changed</string>
            <key>cellClass</key>
            <string>CC26ColorCell</string>
            <key>defaults</key>
            <string>com.cureux.cc26</string>
            <key>height</key>
            <string>60</string>
            <key>id</key>
            <string>tertiaryGradient</string>
            <key>key</key>
            <string>tertiaryGradient</string>
            <key>label</key>
            <string>Third Gradient Color</string>
        </dict>
	</array>
	<key>title</key>
	<string>Modules</string>
</dict>
</plist>
